*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    letter-spacing: 4px;
    overflow: hidden;
    color: #03e9f4;
    font-size: 30px;
    font-weight: 700;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
a:hover{
    background-color: #03e9f4;
    color: #000;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent , #0005)
}

a:first-child{
    filter: hue-rotate(225deg);
    -webkit-filter: hue-rotate(225deg);
}
a:nth-child(3){
        filter: hue-rotate(300deg);
        -webkit-filter: hue-rotate(300deg);
}

a:last-child{
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
}

a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg , transparent , #03e9f4);
    animation: animate1 1s infinite;
    -webkit-animation: animate1 1s infinite;
}

@keyframes animate1{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}

a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg , transparent , #03e9f4);
    animation: animate2 1s infinite;
    -webkit-animation: animate2 1s infinite;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}

a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg , transparent , #03e9f4);
    animation: animate3 1s infinite;
    -webkit-animation: animate3 1s infinite;
}

@keyframes animate3{
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg , transparent , #03e9f4);
    animation: animate4 1s infinite;
    -webkit-animation: animate4 1s infinite;
}

@keyframes animate4{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}
.wrapper{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background-color: #000;
 column-gap: 100px;
}
